.container {
  padding: 10px 150px;
}

.info_company {
    background-color: rgb(27, 26, 27);
    padding: 25px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: aliceblue;
    margin: 0;
}

.info2 {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.info2 {
    height: 450px;
    /* text-align: center; */
}

.img2 {
    height: 110%;
    width: auto;
}

.card2 {
    font-size: 16px;
    padding-right: 10px;
    background: radial-gradient(circle, rgba(206, 144, 10, 0.8) 22%, rgba(144,210,196,0.80) 81%);
    border-radius: 8px;
    text-align: center;
    
}

.card__h {
    display: block;
    text-align: center;
}

img .card2 {
    display: block;
    justify-content: space-around;
    align-items: center;
}

.info__img2 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    background: none;
}